@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);

@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Jeju Gothic';
}

h5 {
	font-family: 'Jeju Gothic';
	font-size: 18px;
}

body {
	font-family: 'Nanum Gothic';
}

.search {
	position: absolute;
	left: 500px;
}

.btn-search {
	background: #424242;
	border-radius: 0;
	color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #1c1c1c;
}

.btn-search:link, .btn-search:visited {
	color: #fff;
}

.btn-search:active, .btn-search:hover {
	background: #1c1c1c;
	color: #fff;
}

.signIn {
	position: absolute;
	right: 0;
	margin-right: 110px;
}

.signUp {
	position: absolute;
	right: 0;
	margin-right: 30px;
}

.spaceReg {
	position: absolute;
	right: 0;
	margin-right: 210px;
}

.memberInfo {
	position: absolute;
	right: 0;
	margin-right: 110px;
}

.signOut {
	position: absolute;
	right: 0;
	margin-right: 30px;
}

/* 이 아래부터 로고용 css */
#logo{
	color : white;
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;
    position : relative;
    box-sizing:inherit;
    margin:0;
    padding: 0;
    border-radius: 0;
    bottom: 0px;
}
#song{
	color : rgb(80, 65, 163);
	font-family: 'Black Han Sans', sans-serif;
	font-size: 50px;
	box-sizing:inherit;
	position : relative;
	margin:0;
    padding: 0;
    border-radius: 0;
}
#cho{
	font-size: 10px;
	/* font-family: 'Black Han Sans', sans-serif; */
	position : relative;
	box-sizing:inherit;
	margin:0;
    padding: 0;
    border-radius: 0;
    top: 10px;
    left: 10px;
    color: gray;
}
nav#nav.navbar.navbar-expand-sm.bg-dark.navbar-dark{
	height:90px;
}